/*   ----- Imports  -----  */
/* Import fonts from hosted service (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* Import React component-specific stylesheets */
@import "~react-image-gallery/styles/css/image-gallery.css";

/*   ----- Variables  -----  */
:root {
  --beaver-orange: #DC4405;
  --light-orange: hsl(36, 89%, 61%);
  --table-odd: hsl(37, 48%, 77%);
  --table-even: rgb(236, 234, 229);
  --text-color: rgb(37, 37, 37);
  --border-color: rgb(37, 37, 37);
  --article-color: hsl(39, 81%, 94%);
  --article-text-color: rgb(37, 37, 37);
  --navbar-color: #333;
  --navtext-color: #f2f2f2;
  --navhover-color: #ddd;
  --button-text-color: white;
  --button-hover-color: rgb(65, 63, 63);
  --button-text-highlight-color: rgba(141, 206, 240, 0.8);
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: none;
  background-image: url("./imgs/background5-1200x.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0% 0%;
  padding: 0% 10%;
}

/*  ----- Page layout blocks -----  */
header {
  color: var(--text-color);
  margin: 0 0;
  padding: 0 0;
}

main {
  background-color: auto;
  color: auto;
  margin: auto;
  padding: auto;
  border: auto;
  margin: 0%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: 1500px;
  min-width: 500px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0px;
  padding-bottom: 25px;
  border: solid var(--border-color) 1px;
  background-color: var(--article-color);
  color: var(--article-text-color);
}

.footerText {
  font-weight: bold;
  margin: 0 0;
}

footer {
  width: 100%;
  height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  color: var(--text-color);
  border: none;
}

footer>h5 {
  padding: 0px;
  margin: 0px;
  color: var(--text-color);
}

/*  ----- Navigation ----- Override text links for navigation only.  */

nav {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--navbar-color);
  overflow: hidden;
}

nav a {
  color: var(--navtext-color);
  font-size: 1.3em;
  font-weight: bold;
  margin: 0px 0px;
  padding: 3px 20px 5px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: var(--navhover-color);
  color: var(--navbar-color);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--beaver-orange);
  color: var(--navhover-color);
}

.nav-articles {
  background-color: inherit;
  font-size: 1.2em;
  display: flex;
  flex: wrap;
  margin-top: 10px;
  margin-bottom: -10px;
}

.nav-articles a {
  background-color: var(--light-orange);
  color: var(--text-color);
  font-size: 0.8em;
  margin-right: 0px;
  padding: 5px 5px;
  border-left: var(--beaver-orange) solid 2px;
}

/*  -----  Typography  ----- */

h1 {
  font-size: 60px;
  margin-top: 1rem;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}

h4 {
  color: var(--beaver-orange);
}

h5 {
  color: var(--light-orange);
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  vertical-align: middle;
  width: 100%;
  text-align: left;
  outline: none;
}

/*  ----- Coding or instructional typography ----- */
pre {
  white-space: pre-line;
  padding-left: 40px;
}

/*  ----- Table ----- */
.customTable {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  font-size: 0.95rem;
}

.customTable caption {
  font-size: 1.2rem;
}

.customTable tbody tr:nth-child(odd) {
  background-color: var(--table-odd);
}

.customTable tbody tr:nth-child(even) {
  background-color: var(--table-even);
}

.customTable thead tr {
  background-color: var(--navbar-color);
  color: var(--navtext-color);
  font-weight: bold;
  font-size: 1.2rem;
}

caption {
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
}

thead {
  font-weight: bold;
}

th,
tr,
td {
  border: 1px solid;
}

th,
td {
  padding: 5px 10px;
}

.orderTable thead tr {
  font-size: 1.2rem;
  background-color: var(--navbar-color);
  color: var(--navtext-color);
}

.incrementerBox {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  align-items: center;
}

.incrementer:active {
  color: var(--beaver-orange);
}

.quantityBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity {
  margin-left: 15px;
}

/*  ----- Lists ----- */
dt {
  font-style: italic;
}

/*  ----- Form ----- */
form,
button,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

form {
  width: 100%;
  padding: 1% 0%;
  color: var(--text-color);
}

fieldset {
  border: 2px solid var(--navbar-color);
  background-color: var(--almost-white);
  margin: 5% 5%;
}

.innerFieldset {
  border-color: grey;
  margin: 0%;
  margin-top: 10px;
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
  background-color: var(--almost-white)
}

label {
  display: block;
  margin-top: 3%;
  font-size: 90%;
}

input {
  padding: 2%;
  font-size: 105%;
  display: block;
}

select {
  height: calc(2.25rem + 2px);
  width: 50%;
}

textarea {
  font-size: 105%;
  width: 90%;
  height: 10em;
  resize: vertical;
  min-height: 2em;
}

#shippingAddress {
  height: 5em;
}

#deliveryInstructions {
  height: 5em;
}


.inline {
  display: flex;
}

.inline label {
  display: inline;
}

.inline input {
  display: inline;
}

/* Hire, Order, Send, etc. Button Styling */
.hireButton,
.orderButton,
.sendButton,
.submitButton,
.cancelButton {
  background-color: var(--beaver-orange);
  color: var(--button-text-color);
  font-size: 1.2rem;
  width: 200px;
}

.hireButton:hover {
  background-color: rgb(65, 63, 63);
}

.buttonTextAccent {
  color: var(--text-color);
}

.hireButton:hover .buttonTextAccent {
  color: var(--beaver-orange);
}

/* Center the staff buttons */
.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ----- Media ----- */
figcaption {
  font-size: 1.1rem;
  color: var(--beaver-orange);
  text-align: center;
}

/* Text accents */
strong {
  color: var(--beaver-orange);
}

/* OrderTotalText */
.orderTotalText {
  size: 120%;
  color: var(--beaver-orange);
  font-weight: bolder;
  /* text-align: center; */
}

/* titles */
.pageTitle {
  color: var(--text-color);
  margin-bottom: 0;
}

.pageSubtitle {
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 18px;

}

/* Animations */
.pageTitle,
.pageSubtitle,
article {
  animation: fadeIn 1.2s;
}

#t1 {
  animation: fadeIn 0.4s;
}

#t2 {
  animation: fadeIn 0.8s;
}

#t3 {
  animation: fadeIn 1.2s;
}

#t4 {
  animation: fadeIn 1.6s;
}

#t5 {
  animation: fadeIn 2.0s;
}

#t6 {
  animation: fadeIn 2.4s;
}

#t7 {
  animation: fadeIn 2.8s;
}

#t8 {
  animation: fadeIn 3.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.portrait {
  border-radius: 50%;
}

/* Ribbon Icons */
.ribbonContainer {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-right: 15px;
  row-gap: 5px;
}

.ribbonIcons {
  color: var(--navbar-color);
}

/* Demo Video sizing */
.videoWrapper {
  text-align: center;
  max-width: 600px;
  max-height: 338px;
  width: 90vw;
  height: 50.85vw;
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Diagram centering */
.diagramImg {
  display: block;
  margin: auto;
  margin-top: 20px;
}


@keyframes App-logo {}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {}

/*   ===== PRINT  media query overrides previous styles =====  */
@media print {}


/* * {
        border: red 1px solid;
    } */